.home_container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 28px;
    gap: 50px;
}

.search_box_container {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.search_box {
    width: 1000px;
    height: 56px;
    background-image: url('/search-box.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 24px, 17px;
    color: #64748B;
    padding: 17px 24px 17px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    outline: none;
}

.add_button {
    width: 168px;
    height: 56px;
    background-image: url('/purple-add-button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.list_container {
    width: 1200px;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
}