.header_container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-bottom: 1px solid #E2E8F0;
}

.banner_container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .banner_container {
        max-width: 100%;
    }

    .banner_image {
        width: 71px;
        height: 40px;
    }
}