.todo_item {
    width: 100%;
    height: 56px;
    border-radius: 27px;
    border: 2px solid var(--color-slate-900);
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
}

.completed {
    width: 100%;
    height: 56px;
    border-radius: 27px;
    border: 2px solid var(--color-slate-900);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    background: var(--color-violet-100);
    text-decoration: line-through;
}

.checkbox {
    width: 32px;
    height: 32px;
}